<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config></context:annotation-config>
    <!--com.example所有类的注解都会起作用-->
    <context:component-scan base-package="com.example"></context:component-scan>


    <!--<context:property-placeholder location="stu.properties"></context:property-placeholder>
    <bean id="student" class="com.example.bean.Student">
        <property name="id" value="${id}"></property>
        <property name="name" value="${name}"></property>
    </bean>-->
</beans>